* {
  margin: 0px;
}

.app {
  background-color: #fafafa;
}

.app_header {
  display: flex;
  position: sticky;
  top: 0;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  border-bottom: 2px solid lightgray;
  object-fit: contain;
  height: 80px;
}

.app_headerImage {
  height: 100px;
  width: 300px;
}

.app_signup {
  display: flex;
  flex-direction: column;
}

.app_loginContainer {
  flex: 0.2;
  display: flex;
  align-items: center;
  margin-top: 23px;
  justify-content: space-between;
}

.app_posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app_postsRight {
  margin-left: 20px;
}

.auth_buttons {
  display: flex;
  margin-left: 20px;
  align-content: center;
}

@media (max-width: 768px) {
  .app_postsRight {
    display: none;
  }
}
